h1 {
  text-align: center;
  margin-bottom: 25px;
}

.code {
  border: 1px solid;
  background-color: #fffeee;
  margin-bottom: 20px;
}

#navbarResponsive {
  font-size: 1.25rem;
}

#musings {
  margin-top: 25px;
}

#about-body {
  font-size: 1.25rem;
  color: white !important;
}

#musings a {
  font-size: 1.25rem;
}

#post-list {
  list-style: none;
}

h3 {
  text-align: center;
}

a h3 {
  color: black;
  margin-top: 15px;
}

.project-links {
  text-align: center;
}

.project-links a {
  display: inline-block;
}
