h1 {
  text-align: center;
  margin-bottom: 25px;
}

.code {
  border: 1px solid;
  background-color: #fffeee;
  margin-bottom: 20px;
}

#navbarResponsive {
  font-size: 1.25rem;
}

#musings {
  margin-top: 25px;
}

#about-body {
  font-size: 1.25rem;
  color: white !important;
}

#musings a {
  font-size: 1.25rem;
}

#post-list {
  list-style: none;
}
